<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.eutchapedia.admin.member.dao.MemberselectDao">
	<resultMap
		type="kr.or.eutchapedia.admin.member.entity.Memberinfo"
		id="selectpage">
		<id column="id" property="id" />
		<result column="NUM" property="num" />
		<result column="member_email" property="member_email" />
		<result column="member_nickname" property="member_nickname" />
		<result column="member_pwd" property="member_pwd" />
		<result column="member_pwd_salt" property="member_pwd_salt" />
		<result column="member_date" property="member_date" />
		<result column="admin_check" property="admin_check" />
		<result column="member_status" property="member_status" />
		<result column="member_photo" property="member_photo" />
		<result column="member_introduce" property="member_introduce" />
		<result column="member_join_route" property="member_join_route" />
	</resultMap>


	<resultMap
		type="kr.or.eutchapedia.admin.member.entity.MemberCount"
		id="membercount">
		<result column="NUM" property="num" />
	</resultMap>


	<select id="getmemberList" resultMap="selectpage"
		parameterType="map">

		SELECT * FROM(
		SELECT ROWNUM NUM, m.*
		FROM (SELECT *
		FROM
		MEMBER WHERE
		${field} LIKE '%'||#{query}||'%'
		) m
		)
		WHERE NUM BETWEEN
		#{page} AND
		#{amount}
	</select>

	<select id="getmemberCount" resultMap="membercount"
		parameterType="map">
		SELECT * FROM(
		SELECT ROWNUM NUM, m.*
		FROM (SELECT *
		FROM
		MEMBER WHERE
		${field} LIKE '%'||#{query}||'%'
		) m
		)
	</select>


	
	<delete id="delMember">
		DELETE FROM MEMBER WHERE member_email =
		#{memberemail}
	</delete>
	<update id="updateStatus">
		update MEMBER
		SET MEMBER_STATUS = #{status}
		WHERE MEMBER_EMAIL = #{memberemail}
		
	</update>

</mapper>