<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="kr.or.eutchapedia.movie.detail.repository.CommentMapper">

	<!-- 페이징 -->
	<select id="totalListSize" parameterType="kr.or.eutchapedia.movie.detail.domain.CommentPage"
		resultType="int">
		SELECT COUNT(*) FROM eutcha_comment ec 
		JOIN star_rating sr
		ON ec.fk_star_index = sr.star_index
		WHERE sr.fk_movie_docid = #{movieDocId}
		AND ec.comment_blind_check = '0'
	
	</select>
	<!-- 코멘트 더보기 기본 select(좋아요 높은 순 + 최신순) -->
	<select id="selectCommentList" parameterType="kr.or.eutchapedia.movie.detail.domain.CommentPage"
		resultType="kr.or.eutchapedia.movie.detail.domain.CommentListVo" >
		SELECT * FROM (
			SELECT ROWNUM no, eclist.* FROM (
				SELECT sr.fk_movie_docid movieDocId, m.member_nickname nickname, m.member_photo
				photo, ec.comment_index commentIndex,
				ec.comment_text commentText, ec.comment_like_count likecount, ec.comment_date commentDate,
				sr.star_rating stars
				FROM eutcha_comment ec
				INNER JOIN star_rating sr
				ON ec.fk_star_index = sr.star_index
				INNER JOIN member m
				ON sr.fk_member_email = m.member_email
				WHERE sr.fk_movie_docid = #{movieDocId}
				AND comment_blind_check = '0'
				ORDER BY comment_like_count DESC,
				comment_date DESC
			) eclist
		) WHERE no BETWEEN #{startNo} AND #{endNo}
	</select>

</mapper>