<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.eutchapedia.movie.detail.repository.StarMapper">
<insert id="rateStars" parameterType="kr.or.eutchapedia.movie.detail.domain.StarRatingVo">
	INSERT INTO star_rating VALUES(
		seq_star_rating.nextval,
		#{movieDocId},
		#{memberEmail},
		#{starRating}
	
	)

</insert>
</mapper>