@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap'); 

main{
padding: 5% 20%;
/* background-color: blueviolet; */

}

*font-family{
    font-family: 'Noto Sans KR', sans-serif;
}
a, a:link{
    text-decoration: none;
    color: unset;
   
}
가운데 영역
.container {position: relative; margin: 0 auto;}

/* 로우 영역 */
.row {padding: 0 28px;}

/*슬라이더 */
.slider_title{
    letter-spacing: -0.4px;
    line-height: 30px;
    margin:10px 0;
    /* margin-left: 35px; */
    color:rgb(51, 51, 51);
    font-size: 22px;
    font-weight: 700;

}
/* 무비 */
/* .movie {padding: 100px 0;} */

.movie_chart {height: 380px;  position: flex;
    justify-content: space-around; 
      /* overflow: hidden; */
}
 .movie_chart > .poster {
    overflow: hidden;
    }
 /* .test {
     width:auto;
     height: 400px; 
     margin-right:18px; 
     background-color: yellow
     ;}  */
/* .test {float: left; width: 100px; height: 400px; margin-right:18px; background-color: yellow;}  */
.movie_chart > div > div>  div:last-child {
    margin-right: 0
    ;}

.movie_box{
    float: left; 
    position: relative;
    width:200px;
    /* height: 400px; */
     /* margin-left:35px;  */
   
}
/* 
 .poster {position: relative;
  width: 200px; height: 370px; margin-right: 18px; background-color: palevioletred;} */

  .movie_img {
    margin-top: -5px;
    margin-bottom: 5px;
    vertical-align: top;
    /* width: 200px; */
    height: 260px; 
    opacity: 1;
    object-fit: cover;
}
.poster .rank {
    margin-top: 5px;
    position: absolute; 
    top: -3px; 
    left: 10px; 
    width: 25px; 
    height: 25px; 
    /* line-height: 50px; */
    background-color: rgba(0, 0, 0, 0.70); 
    text-align: center;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: normal;
}
.movie_title {
    margin-bottom:30px;
    letter-spacing: -0.4px;
    color:rgb(26, 26, 26);
    font-size: 14px;
    font-weight: bold; 
    margin-bottom:5px;
}
.movie_info {

    font-size: 13px;
    color:#74747b;
    line-height:7px;
    letter-spacing: -0.3px;

    /* overflow: hidden; */
    font-weight: 600;
   
}

.movie_info span{
    padding: 0 5px;
}
/* .movie_chart .row .next{
    position:absolute;
    /* top:40%; */
    /* right: 50px;
    top: 165px;
    font-size:1.25em;
    color: rgba(0, 0, 0, 0.70); 
    cursor: pointer;
  } */
  /* .movie_chart .prev{
    position:absolute;
    left: 50px;
    top: 165px;
    font-size:1.25em;
    color: rgba(0, 0, 0, 0.70); 
      cursor: pointer;
  }

   */ 
/* 
   .movie_chart >.next{
    position:absolute;
    top: 70%;
    right: 50px;
  
    font-size:1.25em;
    color:rgb(211, 7, 7);
    cursor: pointer;
  }
 .row .slider_title > .prev{
    position:absolute;
    left: 30px;
    top: 165px;
    font-size:1.25em;
    color:rgb(212, 14, 14);
      cursor: pointer;
  } */

   .movie_chart{position: relative;}
  .movie_chart button{
      position: absolute; 
      z-index: 10;
      top:50%; 
      transform:translateY(-50%);
      width: 35px;
      height: 35px;
      border-radius: 100%;
      /* background: #fffdfd80; */
      border:none;
      background: red;
    }


    .movie_chart button{
        font-family: 'xeicon';
        color:#fff;
        font-size: 20px;
    }

    .movie_chart button.slick-prev{
        left:0; 
        font-size:0;
        color:transparent;}
    .movie_chart button.slick-prev:before {content:"\e93b";}
         

  .movie_chart button.slick-next{
      right: 0;
      font-size:0;
      color:transparent;}
  .movie_chart button.slick-next:before {content:"\e93e";}
          

  .collection_img{
      width: 50px;
      height: 50px;
  }
  .collection{
    height: 380px;
    width: 200px;
  }